<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" th:src="@{script.js}"></script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <br>
    <br>
    <button class="btn btn-primary">Создать синглтон</button>
    <br>
    <br>
    <button class="btn btn-primary">Создать прототип</button>
    <br>
    <br>
    <button class="btn btn-primary">Создать реквсест</button>
    <br>
    <br>
    <button class="btn btn-primary">Создать сешн бин</button>
    <br>
    <br>
    <button class="btn btn-primary">Создать глобал сешн бин</button>
    <br>
    <br>
</div>
</body>
</html>